.chat-container {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 1rem;
  height: 500px;
}

.conversations {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  grid-row: 1 / -1;
}

.messages {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-container {
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .chat-container {
    gap: 0;
    grid-template-columns: 100vw 100vw;
  }
}

@media (max-width: 600px) {
  .chat-container.conversations-mode header,
  .chat-container.conversations-mode .messages {
    transform: translateX(100%);
    opacity: 0;
  }

  .chat-container.conversations-mode .conversations {
    opacity: 1;
  }

  .chat-container.messages-mode header,
  .chat-container.messages-mode .messages {
    transform: translateX(-100%);
    opacity: 1;
  }

  .chat-container.messages-mode .conversations {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.messages,
.conversations,
header {
  transition: transform 0.4s, opacity 0.3s;
}

@media (max-width: 600px) {
  .chat-container.conversations-mode header,
  .chat-container.conversations-mode .messages {
    transform: translateX(100%);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  .chat-container.conversations-mode .conversations {
    opacity: 1;
    transition-timing-function: ease-out;
  }

  .chat-container.messages-mode header,
  .chat-container.messages-mode .messages {
    transform: translateX(-100%);
    transition-timing-function: ease-out;
    opacity: 1;
  }

  .chat-container.messages-mode .conversations {
    transform: translateX(-100%);
    transition-timing-function: ease-in;
    opacity: 0;
  }
}
